/*.h1{
    color: aqua;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.h2{
    color: #ff0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    border: 2px black solid;
    background-color: rgb(182, 201, 233);
}
*/

/* grouping selector  */
/*h1,label,input,button{
    background-color: rgb(200, 212, 232);
}
*/


/* Universal selector  */
*{
    color: black;
    background-color: aliceblue;
}